body{
    background-color: #F2F4F4 ;
}
.container{
    width: 80%;
    height: 100%;
    padding: 20px;
    background-color: antiquewhite;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    text-align: center;
}
.btn{
    padding: 5px;
    min-height: 45px;
    min-width: 130px;
    font-size: 20px;
    margin: 10px;
}
.inpt{
    height: 45px;
}

.btn-add{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}